# ==========================================
# Frontend (apps/web)
# ==========================================
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GITHUB_USERNAME=abhijeetrai

# ==========================================
# Backend (apps/server)
# ==========================================
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/portfolio
JWT_SECRET=replace_this_secret
JWT_EXPIRE=7d

# Third Party
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
