PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/portfolio
JWT_SECRET=replace_this_secret
JWT_REFRESH_SECRET=replace_this_refresh_secret

# Security Seed
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=your_secure_password

# Third Party
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_WEBHOOK_SECRET=
GROQ_API_KEY=
